
div:focus {
  outline: 2px solid grey;
}

.tooltip {
  background-color: bisque;
  color: #222222;
  font-family: sans-serif;
  border: 2px solid darkgrey;
  position: absolute;
  padding-left: 10px;
  top: 0px;
  left: 200px;
  z-index: +1;
  visibility: hidden;
};

body {
  padding-left: 20px;
}